<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Agendar Consulta</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" fullscreen>

<ion-card>
  <ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img class="img" src="{{psicologo.foto}}">
        </ion-col>
        <ion-col class="descricao">
         <h5> {{psicologo.nome}} </h5>

          <ion-row><b> CRM: </b>  {{psicologo.crm}} </ion-row>
          <ion-row *ngFor="let especialidade of psicologo.especialidades"><b> {{especialidade.nome}}</b> </ion-row>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card-header>
  <ion-card-content>
    <p>{{psicologo.descricao}}</p>

   <section id="perfil">
     <span>Perfil</span>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
   </section>

   <section id="avaliacoes">
     <span>Avaliações</span>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </section>

  <section>
   <span>Data e Horario</span>
     <div>
      <ion-datetime
      #datetime
      locale="pt-br"
      [value]="dateValue"
      size="cover"
      (ionChange)="dateChanged(datetime.value)"></ion-datetime>
    </div>
 </section>
</ion-card-content>
  <ion-button expand="block" color="primary">
    <ion-label style="font-size: larger" (click)="marcarConsulta()">Marcar Consulta</ion-label>
  </ion-button>
</ion-card>
</ion-content>
