.img{
  height: 100px;
  width: 200px;
  border-radius: 50%;
  border: 3px solid;
}

ion-col#nome{
  color: black;
  font-size: larger;
  margin: 0 auto;
  justify-content: space-around;
}

section{
  margin-top: 15px;
}

ion-icon{
  font-size: 1.5rem;
  color: black;

}

.icon{
  margin-top: 20px;
}

section span{
  color: black;
  font-size: larger;
}

ion-datetime{
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  --background: #E7E6EB;
}




