<ion-header>
  <ion-toolbar>
    <ion-title>buscaConsultas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let instituicao of listInstituicao">
    <img src="{{instituicao.logo}}" />
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-subtitle
              >{{instituicao.endereco.bairro}} - {{instituicao.endereco.cidade}}
              {{instituicao.endereco.rua}} -
              {{instituicao.endereco.numero}}</ion-card-subtitle
            >
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card-subtitle>
              Horario: {{instituicao.horario}}</ion-card-subtitle
            >
          </ion-col>
          <ion-col>
            <ion-card-subtitle>
              Valor: {{instituicao.valor}}
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card-subtitle>{{instituicao.descricao}}</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" (click)="verPsicologos(instituicao.nome)">Ver psicólogos</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
