.img{
  height: 100px;
  width: 200px;
  border-radius: 50%;

}

.descricao{
  //text-align: center;
  font-size: large;
  text-decoration: solid;
  font-weight: bold;
}

.firstrow{
  margin-left: 11px;
}

.buttonplus{
  size: 5px;
}
