
.container{
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  text-align: center;

}

.itemClass{
  border-radius: 40px;
  background-color: #fff;
  color: black;
  width: 320px;
  height: 40px;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  border: none;

}

.itemClass .input{
   padding: 3% 15%;
   margin-left: 10px;
}

.buttons{
  text-align: center;
  align-items: center;
}

.buttons .button{
  width: 320px;
  margin-left: 40px;
}
