<ion-content color="primary">
  <div id="main">
    <section class="container-head">
      <img src="../assets/logos/logo.png" />
    </section>
   <div *ngIf="novoRegistro===false; else NovoCadastro">
    <section class="container">
       <ion-item class="itemClass">
        <ion-input class="input" type="text" placeholder="Usuário" [(ngModel)]="usuario.usuario"></ion-input>
        <ion-icon name="person" slot="start"></ion-icon>
      </ion-item>
      <br>
      <ion-item class="itemClass">
        <ion-input class="input" type="password" placeholder="Senha" [(ngModel)]="usuario.senha"></ion-input>
        <ion-icon name="lock-closed" slot="start"></ion-icon>
      </ion-item>
      <br>
    </section>
     <section class="buttons">
      <ion-button class="button" color="light" expand="block" (click)="verificarLogin()"
        >Entrar</ion-button
      >
      <br />
      <ion-button class="button" color="light" expand="block" (click)="registrar()">Registre-se</ion-button>
      <br>
      <p><a> Esqueceu sua senha? </a> </p>



    </section>
  </div>

    <ng-template #NovoCadastro>
      <app-registro (novoRegistro)="receberStatusRegistro($event)"></app-registro>
    </ng-template>
  </div>
</ion-content>
