
*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url('../../assets/imagens/na-paz.jpg');

}

// ion-content {
//   --background: #ffff url('../../assets/imagens/maos.jpg') no-repeat center center / cover !important;
// }

.container{
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  text-align: center;

}
.container{
  text-align: center;
}
.container-head{
  text-align: center;
}

.container-head img{
  width: 200px;
  height: 200px;
  margin-top: 50px;


}

.buttons{
  text-align: center;
  align-items: center;
}

.buttons .button{
  width: 320px;
  margin-left: 40px;
  font-weight: bold;

}
.itemClass{
  border-radius: 40px;
  background-color: #fff;
  font-weight: bold;
  color: black;
  width: 320px;
  height: 40px;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  border: none;

}

.itemClass .input{
   padding: 3% 15%;
   margin-left: 10px;
}

// .div#main{
//   align-items: center;
//   text-align: center;

// }
