<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Escolha a cidade</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <!-- <ion-icon
    slot="start"
    name="chevron-back-outline"
    class="icon-voltar"
    (click)="voltar()"
    ></ion-icon> -->
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" fullscreen>
  <section class="section">
    <ion-button
      class="buttons"
      expand="block"
      color="primary"
      *ngFor="let cidade of cidades"
      (click)="buscarInstituicoes(cidade.nome)"
    >
      <ion-label style="font-size: 1.5rem">{{cidade.nome}} </ion-label>
    </ion-button>
  </section>
</ion-content>
