*{
  box-sizing: border-box;
  // margin: 0;
  // padding: 0;
}

.container-body{
  margin-top: 25%;

}

ion-slides {
  height: 40%;
}

ion-card{
  background-color: aqua;
}

.item{
  background-color: aqua;

}

ion-footer{
  background-color: #5CC6BA;
}

.toolbar-container {
  background-color: #5CC6BA;
}
