*{
  box-sizing: border-box;

}

ion-content{

  background-color: #f4f4f4 !important;
}

.icon-log-off{
  font-size: 1.5rem;
}

.toolbar-container{
  background-color: #5CC6BA;
}

.container-body{
  margin-top: 25%;

}

ion-slides {
  height: 40%;
}

.card{
  background-color: #5CC6BA;
}

.slide{
  margin-top: 20px;
}

.slide img{
  width: 300px;
  height: 400px;
}












