<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Consultas </ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" fullscreen>
  <ion-grid>
    <ion-row>
       <ion-col>
        <ion-button expand="block" (click)="pesquisarConsultasAtivas()">Agendados</ion-button>

       </ion-col>
       <ion-col>
        <ion-button expand="block"(click)="pesquisarConsultasInativas()">Histórico</ion-button>

       </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="listaConsultas.length !== 0; else consultasVazias">
    <ion-card *ngFor="let consultas of listaConsultas, let i = index">
      <ion-card-header *ngIf="consultas.status==='Ativo'" color="success">
        Consulta Ativa</ion-card-header
      >
      <ion-card-header *ngIf="consultas.status==='Inativo'" color="danger">
        Consulta Inativa
      </ion-card-header>

      <ion-card-content>
        <div class="cardContent">
          <p><b> Psicologo: </b>{{consultas.psicologo}}</p>
          <p><b> Instituicao: </b> {{consultas.instituicao}}</p>
          <p><b> Data: </b> {{consultas.data}}</p>
          <p><b> Hora: </b> {{consultas.hora}}</p>
          <p>
            <b> Endereco:</b> {{consultas.endereco.rua}} -
            {{consultas.endereco.numero}}
          </p>
          <p>{{consultas.endereco.bairro}} - {{consultas.endereco.cidade}}</p>
          <p>{{consultas.endereco.pontoReferencia}}</p>
        </div>
        <ion-button *ngIf="consultas.status==='Ativo'" (click)="excluirConsulta(consultas.id)" expand="block">Cancelar</ion-button>

      </ion-card-content>
    </ion-card>
   </div>
  <ng-template #consultasVazias>
    <ion-card>
      <ion-card-content>
        <h2>Ainda não há consultas marcadas</h2>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
